<div class="unlimited-instructor-home-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-12">
        <p><h2>{{$ctrl.currentUser.username}}</h2></p>
        <h2 class="dashboard-type">Instructor Dashboard</h2>
      </div>
    </div>

    <hr size="1" color="lightgrey">

    <div class="row">
      <!-- Main view - contains video uploads views -->
      <div class="col-md-12">
        <table width="100%" class="text-sm-center">
          <thead class="table-head">
          <tr>
            <th class="text-sm-center">Reviews to do:</th>
            <th class="text-sm-center">Submitted on:</th>
            <th class="text-sm-center"></th>
          </tr>
          </thead>
          <tbody class="table-body" ng-repeat="review in $ctrl.reviews">
          <tr style="margin-bottom: 15px !important;">
            <td><a ui-sref="app.unlimited_instructor_dashboard({slug: review.slug})">{{review.author.username}}</a></td>
            <td>{{review.createdAt | date:'dd-MM-yyyy - HH:mm:ss'}}</td>
            <td><a href="" ng-click="$ctrl.downloadFile(review.video)">Download</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- End the row & container divs -->
  </div>
</div>
