<div class="basic-reviews-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6">
        <h2 class="dashboard-type">Reviews</h2>
      </div>

      <div class="col-md-6 right-links text-sm-right">
        <p class="past-reviews">
          <a href="" ui-sref="app.basic_home">Dashboard</a>
        </p>
        <p class="upgrade-text">
          <a href="">Upgrade to Unlimited Reviews</a>
        </p>
      </div>
    </div>

    <hr size="1" color="lightgrey">


    <div class="row review-row">
      <!-- Main view - contains video uploads views -->
      <div class="col-md-12">
        <table width="100%">
          <thead class="table-head">
          <tr>
            <th class="text-sm-center"></th>
            <th></th>
            <th class="text-sm-center"></th>
          </tr>
          </thead>
          <tbody class="table-body" ng-repeat="video in $ctrl.reviews">
          <tr style="margin-bottom: 30px">
            <td width="50%" style="margin-right: 20%">
              <div class="video-gallery">
                <div class="video-date">{{video.createdAt | date:'dd-MM-yyyy - HH:mm:ss'}}  <span ng-if="video.reviewChecked === false" style="color: orangered">New review</span></div>
                <div class="single-video">
                  <div class="the-video">
                    <div class="video-image">
                      <p class="video-num-content">
                        <span class="video-number">{{video.video.length}}</span> video(s)
                      </p>
                    </div>
                    <div>
                      <a href="" ng-if="video.video" ng-click="$ctrl.downloadFile(video.video)">Download all videos</a>
                    </div>
                    <!--<video width="300" height="150" controls>
                      <source src="{{video.theVideo}}" type="video/mp4">
                      <source src="{{video.theVideo}}" type="video/3gp">
                      <source src="{{video.theVideo}}" type="video/avi">
                      <source src="{{video.theVideo}}" type="video/mov">
                      <source src="{{video.theVideo}}" type="video/flv">
                      <source src="{{video.theVideo}}" type="video/webm">
                      <source src="{{video.theVideo}}" type="video/mpg">
                      <source src="{{video.theVideo}}" type="video/mp2">
                      <source src="{{video.theVideo}}" type="video/mpeg">
                      <source src="{{video.theVideo}}" type="video/mpe">
                      <source src="{{video.theVideo}}" type="video/mpv">
                      <source src="{{video.theVideo}}" type="video/ogg">
                      <source src="{{video.theVideo}}" type="video/m4p">
                      <source src="{{video.theVideo}}" type="video/m4v">
                    </video>-->
                  </div>
                </div>
              </div>
            </td>
            <td width="50%" style="margin-right: 20%">
              <div class="notes-title">
                Notes <a href=""><span ng-if="video.reviewChecked === false" style="font-size: 12px;" ng-click="$ctrl.markRead(video)">Mark read</span></a>
                <span style="font-size: 16px; font-weight: 400"><a href="" ng-if="video.video2" ng-click="$ctrl.downloadFile(video.video2)">Download review</a></span>
              </div>

              <div class="video-notes">
                <p style="color: red">{{video.notes2}}</p>
                <p>{{video.notes}}</p>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- End the row & container divs -->
    </div>
  </div>
</div>
